body{
    background-image:url(assets/background.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0;

    display: flex;
    justify-content: center;
    min-height: 100vh;

}
.clock-container{
     backdrop-filter: blur(5px);
     width:100vw;
     padding:10px;
}
.clock{
    color:beige;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}